# Puerto en el que corre el servidor
PORT=3000

# URI de conexión a la Base de Datos (MongoDB)
# Local por defecto. Cambiar por tu URI de MongoDB Atlas en producción.
MONGO_URI=mongodb://127.0.0.1:27017/wedding_db

# PINs de Seguridad para las funcionalidades de la boda
# Si cambias estos valores, los invitados deberán usar los nuevos PINs correspondientes.
ADMIN_PIN=BODAADMIN2026
GUEST_PIN=BODAMAYAPO2026
